body {
    text-align: center;
}

.cursor {
    background-color: aqua;
}

.done {
    color: rgb(128, 128, 128);
}

#typing {
    margin: 0 auto;
    width: 30rem;
    font-size: 20px;
    border: 1px solid black;
}

#stats {
    margin: 0 auto;
    width: 300px;
}

.hidden {
    display: none;
}