body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.cursor {
    background-color: aqua;
}

.done {
    color: rgb(128, 128, 128);
}

#typing {
    width: 40rem;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 2rem;
}

#stats {
    font-size: 1.5rem;
}

#startGameBtn {
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.hidden {
    display: none;
}